/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-b from-[#1F3B73] to-[#1453A6] bg-no-repeat bg-fixed;
  }

  h1, h2, h3 {
    @apply font-serif font-bold;
  }
}

@layer utilities {
  .animate-background {
    background: linear-gradient(-45deg, #1F3B73, #1453A6, #F2A71B);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}